h1 {
    font-size: 36px;
    font-weight: bold;
    color: #000;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }

  h3 {
    font-size: 18px;
    font-weight: bold;
    color: #666;
  }
  
  /* Interface style */
  .navbar {
    background-color: #f8f9fa;
  }
  
  .container-fluid {
    padding: 10px 30px;
  }
  
  .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler-icon {
    background-color: #333;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  /* Plot style */
  .plot-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Subtext style */
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
  }